{% extends 'layout.html' %}
{% load static %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
      crossorigin="anonymous">

<div class="d-flex align-items-center justify-content-center ">
  <form action="{% url 'home_customer' struserid=User.id %}" method="post"  style="min-width: 400px;">
    {% csrf_token %}
    
    <div class="fs-4 text-center mb-4">
      <h1>ホーム</h1>
    </div>

    {% if not devices %}
      <div class="alert alert-danger text-center" role="alert">
        機器が登録されていません
      </div>
    {% else %}

    {% if has_image %}
      <div class="text-center mb-3">
        <img src="{{ image_url }}" class="img-fluid" alt="機器配置図">
      </div>
    {% endif %}

   <div class="row mb-3">
      <div class="col-12">
        <table class="table table-bordered table-striped text-center">
          <thead>
            <tr>
              <th>機器名</th>
              <th>媒体</th>
              <th>購入日</th>
              <th>使用者</th>
              <th>設置場所</th>
              <th>詳細</th>
            </tr>
          </thead>
          <tbody>
            {% for device in devices %}
            <tr>
              <td>{{ device.dvcName }}</td>
              <td>{{ device.dvcKind }}</td>
              <td>{{ device.dvcPurchase }}</td>
              <td>{{ device.dvcUser }}</td>
              <td>{{ device.dvcPlace }}</td>
              <td>
                <a href="{% url 'detail_device' struserid=User.id strdevid=device.id %}" class="btn btn-sm btn-info">
                  詳細
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}

    <button class="btn btn-primary w-100 mb-3" type="submit" name="btnOutput"{% if not devices %}disabled{% endif %}>出力</button>
    <br>
    <button class="btn btn-danger w-100" type="submit" name="btnLogout">ログアウト</button>
</div>
<br>    
<br>
<br>
<br>
<br>
{% endblock %}
