{% extends 'layout.html' %}
{% load static %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
      crossorigin="anonymous">

<div class="d-flex align-items-center justify-content-center ">
  <form action="{% url 'login' %}" method="post"  style="min-width: 400px;">
    {% csrf_token %}
    
    <div class="fs-4 text-center mb-4">
      <h1>ホーム</h1>
    </div>
    

    <button class="btn btn-primary w-100" type="submit" name="btnOutput">出力</button>
    {% if not has_device %}disabled{% endif %}>
    
    <button class="btn btn-danger w-100" type="submit" name="btnLogout">ログアウト</button>
</div>
<br>    
<br>
<br>
<br>
<br>
{% endblock %}
